<!DOCTYPE HTML>
<html>
<head>
    <title>WebThing</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>ヘルプ</h1>
    <div onclick="history.back();" class="navButton topLeading">戻る</div>
    <div class="groupContainer">
        <div class="groupBox">
            <p>お困りの時にいつでも対応いたします！</p>
        </div>
        <h2>メール</h2>
        <div class="groupBox">
            <p>下記のメールまでお問い合わせください。</p>
            <p class="secondary">help@webth.ing</p>
            <hr>
            <span class="verticalStack">
                <a href="mailto:help@webth.ing">メールを送る</a>
            </span>
        </div>
        <h2>電話</h2>
        <div class="groupBox">
            <p>下記の電話番号までお問い合わせください。</p>
            <p class="secondary">+81 050 0000 0001</p>
            <hr>
            <span class="verticalStack">
                <a href="tel:+8105000000001">電話をかける</a>
            </span>
        </div>
    </div>
</body>
</html>