<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>マイアイテム</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/scripts/myitems.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>マイアイテム</h1>
<div onclick="history.back();" class="navButton topLeading">戻る</div>
<a href="/myitems/new" class="navButton topTrailing">新規</a>
<div class="groupContainer">
    <div class="groupBox">
        <th:block th:each="item, items:${items}" th:object="${item}">
            <span class="horizontalStack">
				<span class="verticalStack">
                    <span class="horizontalStack">
                        <b th:text="*{name}"></b>
                        <p style="font-family: monospace; font-size: 0.5rem;" class="secondary" th:text="|(*{id})|"></p>
                    </span>
                    <p class="secondary" th:text="*{brand}"></p>
                    <p th:text="*{description}"></p>
				</span>
                <span></span>
                <b style="font: -apple-system-title1; font-weight: bold; font-family: monospace;" th:text="*{cost}"></b>
                <button th:onClick="|deleteItem(*{id});|" class="plainButton" style="height: 24px;">
                    <img src="/icons/delete.svg" width="24" height="24" />
                </button>
            </span>
            <hr th:unless="${items.last}">
        </th:block>
    </div>
</div>
</body>
</html>