<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>マイアイテム</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/scripts/myitems.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>新規アイテム</h1>
<div onclick="history.back();" class="navButton topLeading">キャンセル</div>
<form id="newItem" action="javascript:createItem()" method="POST" class="groupContainer">
    <div class="groupBox">
        <input type="text" name="id" placeholder="ID" />
    </div>
    <h2>基本情報</h2>
    <div class="groupBox">
        <input type="text" name="name" placeholder="アイテム名" />
        <hr>
        <input type="text" name="brand" placeholder="ブランド" />
        <hr>
        <input type="text" name="description" placeholder="詳細" />
    </div>
    <div class="groupBox">
        <input type="text" name="cost" placeholder="値段" />
    </div>
    <h2>値段</h2>
    <div class="groupBox">
        <input type="submit" class="button" value="作成" />
    </div>
</form>
</body>
</html>